body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
}

.gridcell {
  float: left;
}

.gridcell.blocked {
  background-color: gray;
}

.gridcell.out-cell {
  background-color: lightgreen;
}

.gridcell.in-cell {
  background-color: coral;
}
