body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
}

.gridCell {
  float: left;
}

.gridCell.blocked {
  background-color: gray;
}

.gridCell.out-cell {
  background-color: lightgreen;
}

.gridCell.in-cell {
  background-color: coral;
}
